#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #EEEEEE;
    #calculator-background {
        padding: 5px;
        height: 500px;
        width: 320px;
        background-color: rgb(0, 0, 0);
        color:white;
        border: 3px solid #222831;
    }
}