#inputbtns-container {
    flex: 8;
    table {
        width: 100%;
        height: 100%;
        border-spacing: 0;
      
        td {
        
            .btns {
                height: 100%;
                width: 100%;
                font-size:25px;
            }
        }
    }
}




