#displayer-container {
    height: 50px;
    width: 100%;
    background-color: black;
    flex: 1;
    
    #display {
        height: 100%;
        width: 100%;   
        overflow: hidden;
        #complete-operations {
            flex: 1;
            text-align: right;
            padding: 2px;
        }
        #current-operations {
            flex: 2;
            display: flex;
            justify-content: right; 
            align-items: center;
            font-size: 22px;
            padding: 2px;   
        }
    }
}